#nav-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    max-width: 100vw;
    height: 67px;
    border-bottom: 1px solid rgba(174, 174, 174, 0.673);
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    align-items: center;
    padding:0 10% 0 10%;
    position:sticky;
}

#icon-container{
    /* border: 1px solid red; */
    /* margin-left: 100px; */
    width: 30%;
    min-width: 300px;
}
#search-container{
    width: 40%;
    height: 67px;
    /* border: 1px solid blue; */
}
#search-box{
    width: 80%;
    height: 50%;
    
}
#icon-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 10px; */
}
#icon-png{
    height: 40px;
}

#icon-svg{
    height:22px;
     /* border: 1px solid red; */
}
#chain-container{
    display: flex;
    flex-direction: row;
    width: 30%;
    min-width: 500px;
    height: 100%;
    /* border: 1px solid blue; */
    /* justify-content: space-between; */
    align-items: center;
}
.chain-nav{
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
    color:rgb(83, 83, 83);
    height: 60%;
    cursor: pointer;
    margin-right: 100px;
    /* border: 1px solid red; */

}
.chain-nav:hover{
    color: rgb(186, 142, 219);
}