
#graph-container{
    border: 1px solid black;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}


#project-title-section{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid black;
    height: 80px;
    align-items: center;
    
}

#project-chain{
    /* border: 1px solid blue; */
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-self: center; */
    
}

#chain-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid tomato;
    width: 100px;
    height: 30px;
    border-radius: 13px;
    border:none;
    background-color: aqua;
    

}
#project-name{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    width: 33%;

}
#project-graph-section{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: row;

}
#project-graph{
    width: 80%;
    border: 1px solid blue;
}
#project-price{
    width: 20%;
    border:1px solid red;
}

